@font-face {
  font-family: "Outfit";
  src: url("https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC7.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC7.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Outfit", sans-serif;
}
